* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f8f8f8;
    color: #333;
    background-image: url('../IMAGENES/fondonashe.jpeg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/* HEADER */
header {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

/* MENU */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #d8bd94;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff5722;
}

/* KANGREBURGUER */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px;
    transition: all 0.3s ease;
}

/* CELU Y TABLET*/
@media (max-width: 768px) {
    header img {
        max-width: 200px;
        height: auto;
        width: full;
    }

    header {
        height: 80px;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #f0e0ad;
        z-index: 1;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        right: 20px;
        top: 20px;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

/* LO NEW */
.novedades {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff8e1;
    text-align: center;
    margin-bottom: 20px;
    border-bottom:#806a4e solid;
}

.novedades img {
    margin-right: 15px;
    border-radius: 8px;
}

/* TITULOS */
h2 {
    font-size: 24px;
    color: #75624c;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #555;
}

/* PRODUCTOS */
.listado_productos {
    padding: 20px;
    background-color:none;
    text-align: center;
}
.listado_productos h2 {
    color: #252525;
}

.productos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.producto_item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.producto_item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.producto_item h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: #333;
}

.producto_item p {
    font-size: 16px;
    color: #ff5722;
    margin-bottom: 10px;
}

.producto_item:hover {
    transform: translateY(-5px);
}

/* Footer */
footer {
    background-color: #806a4e;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer p {
    font-size: 18px;
    color:#f8f8f8;
}
